<footer
  class="opaco mx-auto flex h-[5rem] max-w-3xl items-center px-8 text-[0.9em] opacity-60"
>
  <div>
    <a href="https://www.linkedin.com/in/musab-gultekin/" target="_blank">
    💬 Contact Me
    </a>
  </div>


  <!-- Fathom - simple website analytics - https://github.com/usefathom/fathom -->
<script>
  (function(f, a, t, h, o, m){
    a[h]=a[h]||function(){
      (a[h].q=a[h].q||[]).push(arguments)
    };
    o=f.createElement('script'),
    m=f.getElementsByTagName('script')[0];
    o.async=1; o.src=t; o.id='fathom-script';
    m.parentNode.insertBefore(o,m)
  })(document, window, '//anlytcs.musabgultekin.com/tracker.js', 'fathom');
  fathom('set', 'siteId', 'XLEGA');
  fathom('trackPageview');
  </script>
  <!-- / Fathom -->
</footer>
